body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
path {
  fill: none;
  stroke-width: 5px;
  stroke: black;
}
line {
  stroke-width: 2px;
  stroke: black;
}
text {
  font-size: 1.4em;
}
.domain {
  display: none;
}

.tick line {
  stroke: rgb(207, 207, 207);
}

.tick text {
  fill: rgb(121, 121, 121);
}